 <link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="panel-body">
     <a type="button" class="btn btn-primary" href="../bib_recursos/?acc=nuevo" data-dismiss="modal"><i class=" fa fa-plus"></i>Nuevo</a>
    <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
         
           <div class="hvr-float cont-img" ng-repeat="row in recursos" >
            <a href="" ng-click="eliminar(row.idpersonal,row.orden)"><div class="namelevel text-right i"><i class="fa fa-trash"></i></div></a>
            <a href="../bib_recursos/?acc=editar&dni={{row.idpersonal}}&orden={{row.orden}}">
                <img class="img img-responsive" src="{{row.caratula}}" >
            </a>
            <div class="namelevel text-center"><strong>{{row.titulo}}</strong></div>
             
        </div>              
    </div>
    </div>
    </div> 
</body>