<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="panel-body">

  	<div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="hvr-float cont-img" ng-repeat="row in estudio">
            <div class="namelevel text-right i" style="border-bottom:2px solid #4466bb">
                <i class="fa fa-star-o"></i>
            </div>
            <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" ng-click="verEstudio(row.id_estudio)" >

            <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
            
        </div>							
    </div>

    </div>
  </div>

    
    </div>
    </div> 
</body>