
<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
	<div class="col-md-12">
		<h4>Búsqueda Avanzada</h4>

	</div>


	<div class="row" style="margin:20px">
	<div class="col-md-3" >
		<label for="">Categoría</label>
		<div class="cajaselect"><select class="form-control conestilo" ng-model="buscar.categoria_id" ng-options="item.id_categoria as item.descripcion for item in categorias">
			<option value="">-- Elige Categoria --</option></select>
		</div>
	</div>
	<div class="col-md-3" >
		<label for="">Sub categoría</label>
		<div class="cajaselect">
		<select class=" form-control conestilo" ng-model="buscar.subcategoria_id" ng-options="item.id_subcategoria as item.descripcion for item in subcategorias">
  			<option value="">-- Elige Sub Categoria --</option>
		</select></div>
	</div>
	<div class="col-md-3" >
			<label for="">Autor</label>
			<div class="cajaselect"><select class=" form-control conestilo" ng-model="buscar.autor_id" ng-options="item.id_autor as item.nombre+' '+item.ap_paterno+' '+item.ap_materno for item in autor">
  			<option value="">-- Elige Autor --</option>
		</select></div>
	</div>
	</div>
	<div class="row" style="margin:20px">
		<div class="col-md-12">
		<label for=""> Contiene las palabras:</label></div>
		<div class="col-md-9 ">
			<input type="text" name="" id="" style="height:30px; width: 100%" ng-model="buscar.palabras">
		</div>
	</div>

	<div class="row" style="margin:20px">
		<div class="col-md-12" id="nuevo">
			<label for="">Publicados:</label>
		</div>
		<div class='col-sm-3'>
            <div class="form-group">
                <div  class="form-group">
                    <label for="fecha">Fecha:</label>
                    <div  class="input-group" >
                        <div class="input-group-addon" id="input-group">
                        	<i class="fa fa-calendar"></i>
                       	</div>
                        <input  type="date"  class="form-control"  name="fecha" ng-model="buscar.fecha" required>
                    </div>
                </div>
            </div>
         </div>
	</div>
	
	<div class="col-md-12 col-xs-12 input-group" style="display:flex; justify-content:space-around">
		  	<button type="button" class="btn btn-success btn-md" ng-click="aceptar()">Buscar</button>
		  	<button type="button" class="btn btn-primary btn-md" ng-click="cancelar()">Limpiar Datos</button>
		  	<a href="#/" type="button" class="btn btn-danger btn-md">Cancelar</a>
	</div>
</div>
</body>
