<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
	<div class="container nuevo">
		<div id="nuevoante">
		<div class="col-md-12 img-responsive" style="display:flex; justify-content:center;height:250px">
			<img src="./app/images/Biblioteca.jpg" alt="" style="">
		</div>
		<div class="col-md-12" style="margin-bottom:20px;margin-top:20px;display:flex;justify-content:center">
			  <div class="input-group col-md-7">
			  <input type="text" class="form-control" aria-label="" ng-model="buscar">
			 <span class="input-group-addon"> <a href="" type="button" ng-click="resultado()"><i class="fa fa-search"></i></a></span>
			</div>
		</div> 
		<div class="col-md-12" style="display:flex;justify-content:center">
			
			<button type="button" class="btn btn-default btn-sm" >Búsqueda Avanzada
			</button>
		</div></div>
		<div class="container" id="nuevo25" style="display:none">
		<div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="hvr-float cont-img" ng-repeat="row in libro">
            <div class="namelevel text-right i" style="border-bottom:2px solid #4466bb">
                <i class="fa fa-star-o"></i>
            </div>
            <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" ng-click="verEstudio(row.id_estudio)" >

            <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
            
        </div>							
    </div></div> 
	</div>


</body>

	<!--<div class="container nuevo">
		<div class="col-md-12 img-responsive" style="display:flex; justify-content:center;height:250px">
			<img src="./app/images/Biblioteca.jpg" alt="" style="">
		</div>
		<div class="col-md-12" style="margin-bottom:20px;margin-top:20px;display:flex;justify-content:center">
			  <div class="input-group col-md-8">
			  <input type="text" class="form-control" aria-label="" ng-model="buscar.palabra">
			  <span class="input-group-addon"><a href="" ng-click="buscar('mi')"><i class="fa fa-search"></i></a></span>
			</div>
		</div>
		<div class="col-md-12" style="display:flex;justify-content:center">
			<a href="#/buscar">
			<button type="button" class="btn btn-default btn-sm">Búsqueda Avanzada</button></a>
		</div>
	</div>
</body>-->