html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-ms-viewport {
  width: device-width; }
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: none !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #0275d8;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #014c8c;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #636c72;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: left; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none !important; }

html {
  font-size: 15px; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  background: #f4f4f4;
  color: #333;
  width: 100%; }

label {
  font-size: 1rem;
  font-weight: bold;
  color: #333; }

.minimo {
  display: block; }

.maximo {
  display: none; }

select.conestilo {
  background: transparent;
  border: 2px solid #4466bb;
  width: 100%;
  height: 28px;
  padding: 5px;
  padding: 0.3ex 2ex;
  border-radius: 0.25ex;
  color: #333; }

select.conestilo1 {
  background: transparent;
  border: 2px solid #4466bb;
  width: 50%;
  font-size: 1rem;
  height: 28px;
  padding: 5px;
  padding: 0.3ex 2ex;
  border-radius: 0.25ex;
  color: #333; }

.cajaselect {
  overflow: hidden;
  position: relative;
  font-size: .9rem;
  color: #333;
  border-radius: 5px; }

input {
  background: transparent;
  border: 2px solid #4466bb;
  overflow: hidden;
  position: relative;
  padding: 5px;
  width: 50%;
  height: 26px;
  padding: 0.3ex 2ex;
  border-radius: 0.25ex;
  color: #333; }

.cajaselect::after {
  font-family: FontAwesome;
  content: "\f0dd";
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 100%;
  background-color: #4466bb;
  position: absolute;
  top: 0;
  right: 0px;
  pointer-events: none;
  color: antiquewhite;
  bottom: 0px;
  border-radius: 0.1ex 0.25ex 0.25ex 0.1ex; }

.input-group {
  margin-bottom: 5px; }

input[type=text],
input[type=number],
input[type=date] {
  border: 1px solid #4466bb;
  font-size: .8rem;
  height: 28px; }

input[type="checkbox"] {
  width: 15px; }

input[type=file] {
  display: flex;
  justify-content: center;
  border: 0;
  width: auto;
  font-size: .8rem; }

span {
  border: 1px solid #4466bb; }

.input-group-addon {
  border: 1px solid #4466bb;
  font-size: 13px; }

.img-responsive {
  display: inline-block; }

#imagen {
  border-left: 1px solid #f5f5f5;
  border-radius: 6px; }

.btn-primary {
  color: #fff;
  background-color: #4466bb;
  border-color: #4466bb; }

.nuevoBoton {
  height: 20px;
  padding: 0 5px;
  margin: 0 5px;
  color: white; }

.nuevoBoton > i {
  color: white; }

#modalAutor {
  width: 150px; }

#global {
  height: 70px;
  width: auto;
  overflow-y: scroll; }

#scroll {
  height: auto; }

.texto {
  padding: 4px;
  background: #fff; }

#global::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

#global::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5; }

#global::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4466bb; }

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  color: #333;
  background-color: #f4f4f4;
  border-color: #333; }

@media (min-width: 768px) {
  .minimo {
    display: none; }

  .maximo {
    display: block; } }
@media (min-width: 1200px) {
  .container1 {
    width: 900px; } }

/*# sourceMappingURL=estilos-nuevo.css.map */
