<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<link href="../modbiblioteca/css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="panel-body">
   <div class="row btn-nuevo">
   </div>
    <div class="col-md-4" ng-repeat="row in tipo" ng-if="row.id_registro==1">
      <div class="row cabecera">
        <div class="col-md-4 col-sm-2 col-xs-3" id="nombre" style="background:#ccc; text-transform: capitalize;">
             <label for="">{{row.nombre}}</label>
        </div>
     </div>
        <img class="img-responsive" src="./app/images/nofoto.jpg" ng-click="selecionarTipo(row.id_tipo)"><br>   
    </div>
    <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="hvr-float cont-img" ng-repeat="row in selectEstudios">
           <div class="namelevel text-right i">
                 <a href="" ng-click="agregarFavorito(row.id_estudio)"><i class="fa fa-star-o"></i></a>
            </div>
            <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" ng-click="verLibro(row.id_estudio)" >

            <div class="namelevel text-center" style="line-height:18px"><strong>{{row.nombre}}</strong></div>  
        </div>              
    </div>
     <!--<button type="button" id="botonAtras" class="btn btn-primary" ng-click="selecionarTipo(0)">Atrás</button>-->
    </div>
    </div> 
</body>
