<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<style>
.mendi-social-networks {
    width: 100%;
    margin: 0;
}
.mendi-social-networks li {
  float: left;
  display: inline;
  color: #ffffff;
  position: relative;
} 
.mendi-social-networks li i {
  font-size: 50px;
  float: left;
  width: 60px;
}
.mendi-social-networks li a {
  color: #ffffff;
  padding: 25px 65px 25px 40px;
  float: left;
  width: 100%;
  box-sizing: border-box;
    
}
.mendi-social-networks li a:hover {
     text-decoration:none;    
}
.mendi-social-networks li p {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 2px 0 0px;
}
.mendi-social-networks li .followers {
  text-transform: uppercase;
}

.mendi-social-networks li:hover:before {
  background-color: #ffffff;
  color: #999999;
}
.mendi-social-networks li.facebook {
  background-color: #4d6bab;
}
.mendi-social-networks li.twitter {
  background-color: #4ec6f8;
}
.mendi-social-networks li.googleplus {
  background-color: #d34836;
}
.mendi-social-networks li.linkedin {
  background-color: #248cc9;
}
.social1 {
  position: absolute;
  top: 520px;
  background-color: transparent;}

.social1 ul {
  list-style: none; }

.social1 ul li a {
  display: inline-block;
  color: #fff;
  background: #4466bb 100% !important;
  padding: 10px 0;
  text-decoration: none;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  border: 2px solid #fff;
  border-radius: 4px; }

.social1 ul li a:hover {
  padding: 10px 5px;
  color: #4466bb;
  /*background: linear-gradient(70deg, #fcfcfc 30%, #4466bb 100%);*/
  border: 2px solid #fff;
  border-radius: 4px; }

</style>

<body>
<div class="container nuevo" ng-if="!banderaVerPDF">
  <div class="row">
    <div class="col-md-4 img-libro">
     <!--<a ng-href="../static/libreria/pdf/{{bib_estudio.archivo}}" target="_blank">-->
      <a ng-click="verPDF(bib_estudio.id_estudio)">
      <img class="img-responsive2 imag" ng-src="../static/libreria/image/{{bib_estudio.foto}}"> </a> 
    </div>      
    <div class="col-md-7 col-xs-12">
      <div class="row">
        <label for="">Título</label><br>
        <div>
          <input type="text" class="col-md-12 col-xs-12" ng-model="bib_estudio.nombre" disabled>
        </div>
      </div>
      <div class="row">
        <label for="">Código</label><br>
        <div>
          <input type="text" class="col-md-12 col-xs-12" ng-model="bib_estudio.codigo" disabled>
        </div>
      </div>
      <div class="row">
        <label for="">Resumen</label><br>
        <div>
          <textarea class="col-md-12 col-xs-12" cols="30" rows="3" ng-model="bib_estudio.resumen" disabled></textarea>
        </div>
      </div>

      <input type="hidden" name="historial_ver" ng-model="historial.ver">
      <input type="hidden" name="historial_descargar" ng-model="historial.descargar">
    </div>
  </div>

  <div class="row" id="botonesLibro">
    <div class="col-md-4 img-libro">
        <a ng-click="descargar(bib_estudio.id_estudio,bib_estudio.cantidad_descarga,historial.cant)" type="bottom" class="btn btn-primary">Descargar</a>
    </div>
    </div> </div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" disabled>&times;</button>
        <h4 class="modal-title">Reserva</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>

  </div>
</div>

<div class="container nuevo" >
  
      <div id="contenedor_frame" style="width: 800px;margin: auto;"></div>
      <footer>
<div class="row">
  <div class="social1 col-md-12">
  <div class="col-lg-12 ">
    <ul class="mendi-social-networks">
      <li class="facebook">
      <a href="" title="Wikipedia" data-toggle="modal" data-target="#myModalWiki">
        <img src="./app/images/wikipedia.png" class="img-responsive" style="height:50px">
      </a>
    </li>
    <li class="twitter">
      <a href="https://translate.google.com/" title="Traductor" data-toggle="modal" data-target="#myModalTraductor">
        <img src="./app/images/traductor.png" class="img-responsive" style="height:50px">
      </a>
    </li>
    <li class="googleplus">
      <a href="" title="Diccionario" data-toggle="modal" data-target="#myModalRae">
        <img src="./app/images/diccionario.png" class="img-responsive" style="height:50px">
      </a>
    </li>
    <li class="linkedin">
      <a href="" title="Detector de Plagio" data-toggle="modal" data-target="#myModalPlagio">
        <img src="./app/images/plagio.png" class="img-responsive" style="height:50px">
      </a>
    </li>
  </ul>
  </div>
  </div>
</div>
</footer>
  
</div>

<!--============ modal wikipedia==============-->
<div id="myModalWiki" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Wikipedia</h4>
      </div>
      <div class="modal-body">
       
        <iframe src="http://www.wikipedia.com" frameborder="0" align="middle" width="580px"></iframe>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!--============ modal wikipedia==============-->
<div id="myModalTraductor" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Traductor</h4>
      </div>
      <div class="modal-body">
       
        <iframe src="http://www.https://translate.google.com/m/translate?hl=es" frameborder="0" align="middle" width="580px"></iframe>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!--============ modal wikipedia==============-->
<div id="myModalRae" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Diccionario RAE</h4>
      </div>
      <div class="modal-body">
       
        <iframe src="http://www.rae.es" frameborder="0" align="middle" width="580px"></iframe>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!--============ modal plagio==============-->
<div id="myModalPlagio" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Detector de Plagio</h4>
      </div>
      <div class="modal-body">
       
        <iframe src="https://www.plag.es/" frameborder="0" align="middle" width="580px"></iframe>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
</body>