<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<style>
	.mendi-social-networks {
    width: 100%;
    margin: 0;
}
.mendi-social-networks li {
	float: left;
	display: inline;
	color: #ffffff;
	position: relative;
} 
.mendi-social-networks li i {
	font-size: 50px;
	float: left;
	width: 60px;
}
.mendi-social-networks li a {
	color: #ffffff;
	padding: 25px 65px 25px 40px;
	float: left;
	width: 100%;
	box-sizing: border-box;
    
}
.mendi-social-networks li a:hover {
     text-decoration:none;    
}
.mendi-social-networks li p {
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin: 2px 0 0px;
}
.mendi-social-networks li .followers {
	text-transform: uppercase;
}

.mendi-social-networks li:hover:before {
	background-color: #ffffff;
	color: #999999;
}
.mendi-social-networks li.facebook {
	background-color: #4d6bab;
}
.mendi-social-networks li.twitter {
	background-color: #4ec6f8;
}
.mendi-social-networks li.googleplus {
	background-color: #d34836;
}
.mendi-social-networks li.linkedin {
	background-color: #248cc9;
}
footer{
height: auto;
background-color: #fff;
margin-top: 35px;

}

.social1 {
  position: fixed;
  top: 550px;
  background-color: transparent;}

.social1 ul {
  list-style: none; }

.social1 ul li a {
  display: inline-block;
  color: #fff;
  background: #4466bb 100% !important;
  padding: 10px 0;
  text-decoration: none;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  border: 2px solid #fff;
  border-radius: 4px; }

.social1 ul li a:hover {
  padding: 10px 5px;
  color: #4466bb;
  /*background: linear-gradient(70deg, #fcfcfc 30%, #4466bb 100%);*/
  border: 2px solid #fff;
  border-radius: 4px; }

</style>
<body>
<div class="container nuevo">
	<a ng-click="verPDF(bib_estudio.id_estudio)">
     	<div id="contenedor_frame" style="width: 800px;margin: auto;"></div>ss
	</a>
</div>

<div class="clearfix"></div>

<footer>
<div class="row">
	<div class="social1 col-md-12">
	<div class="col-lg-12 ">
		<ul class="mendi-social-networks">
    	<li class="facebook">
			<a href="http://www.wikipedia.com" title="Wikipedia" target="_blank">
				<img src="./app/images/wikipedia.png" class="img-responsive" style="height:50px">
			</a>
		</li>
		<li class="twitter">
			<a href="http://www.https://translate.google.com/m/translate?hl=es" title="Traductor" target="_blank">
				<img src="./app/images/traductor.png" class="img-responsive" style="height:50px">
			</a>
		</li>
		<li class="googleplus">
			<a href="http://www.rae.es" title="Diccionario" target="_blank">
				<img src="./app/images/diccionario.png" class="img-responsive" style="height:50px">
			</a>
		</li>
		<li class="linkedin">
			<a href="https://www.plag.es/" title="Detector de Plagio" target="_blank">
				<img src="./app/images/plagio.png" class="img-responsive" style="height:50px">
			</a>
		</li>
	</ul>
	</div>
	</div>
</div>
</footer>
</body>
