
<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
	<div class="col-md-12">
		<h4>Búsqueda Avanzada</h4>

	</div>
	<div class="row" style="margin:20px">

	<div class="col-md-3" >
		<label for="">Categoría</label>
		<select class="form-control" >
  			<!--<option>1</option>
  			<option>2</option>
  			<option>3</option>
  			<option>4</option>
  			<option>5</option>-->
			</select>
	</div>
	<div class="col-md-3" >
		<label for="">Sub categoría</label>
		<select class=" form-control" >
  			<option>1</option>
  			<option>2</option>
  			<option>3</option>
  			<option>4</option>
  			<option>5</option>
		</select>
	</div>
	<div class="col-md-3" >
			<label for="">Autor</label>
			<select class="form-control">
	  			<option>1</option>
	  			<option>2</option>
	  			<option>3</option>
	  			<option>4</option>
	  			<option>5</option>
			</select>
	</div>
	</div>
	<div class="row" style="margin:20px">
		<div class="col-md-12">
		<label for=""> Contiene las palabras:</label></div>
		<div class="col-md-9 ">
			<input type="text" name="" id="" style="height:30px; width: 100%" >
		</div>
	</div>
	<div class="row" style="margin:20px">
		<div class="col-md-12">
		<label for="">Universidad</label></div>
		<div class="col-md-9 ">
			<input type="text" name="" id="" style="height:30px; width: 100%" >
		</div>
	</div>

	<div class="row" style="margin:20px">
		<div class="col-md-12" id="nuevo">
		<label for="">Publicados entre:</label></div>
		<div class='col-sm-3'>
            <div class="form-group">
                <div  class="form-group" ng-class="{'has-error': edicionCreateForm.fechaFin.$invalid,'has-success':edicionCreateForm.fechaFin.$invalid}">
                                  <label for="fechaFin">Fecha Inicio </label>
                              <div  class="input-group">
                                  <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                 </div>
                                    <input  type="date" ng-change="filtroFechas()" class="form-control"  name="fechaFin" ng-model="edicion.fechaFin" required>
                              </div>
                        </div>
            </div>
         </div>

		<!--<div class="col-md-3 col-xs-12 input-group" id="calendario">
			  <span class="input-group-addon">
			  	<i class="fa fa-calendar"></i>
			  </span>
			  <input type="text" class="form-control" id="date" name="date" placeholder="Elija fecha MM/DD/YYYY" type="text">
		</div>
		<div class="col-md-3 col-xs-12 input-group" id="calendario">
			  <span class="input-group-addon">
			  	<i class="fa fa-calendar"></i>
			  </span>
			  <input type="text" class="form-control" id="date" name="date" placeholder="Elija fecha MM/DD/YYYY" type="text">
		</div>-->
	</div>
	<div class="row">
		<div class="col-md-9 col-xs-12 input-group" id="botones">
			  <button type="button" class="btn btn-primary" id="boton">Aceptar</button>
			  <button type="button" class="btn btn-primary" id="boton">Cancelar</button>
		</div>
	</div>
</div>
</body>
