.plantilla-verdad_falso .list-premises{
    margin-top: 1em;
}

.plantilla-verdad_falso .list-premises .premise{
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 2.5em;
    line-height: 2.5em;
    margin-bottom: .5em;
    margin-top: .25em;
}

.plantilla-verdad_falso .list-premises .premise .icon-zone>.icon-result{
    font-size: 1.4em;
}