.plantilla_video .video-loader{
    left: 19px;
    padding: 0;
    position: absolute;
    top: 4px;
    z-index: 20;
}

.plantilla_video .video-zone{
}

.plantilla_video .texto-video {
    border: 1px solid #bbb;
    overflow: auto;
    padding: 0;
}

.plantilla_video .texto-video table{
    margin-bottom: 0;
}

.plantilla_video .texto-video table .time-input{
    display: list-item;
}

.plantilla_video .texto-video table>thead>tr>th:first-child,
.plantilla_video .texto-video table>tbody>tr>td:first-child .addtextvideo {
    font-weight: bold;
    min-height: 2em;
    text-align: center;
    width: 4em;
}

.plantilla_video .texto-video table>tbody>tr>td .time-input>.addtime {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 5em;
}

.plantilla_video .texto-video table .removedialog{
    margin-left: -8px;
    cursor: pointer;
}

.plantilla_video .texto-video table .removedialog:hover{
    color: #a94442;
}

.plantilla_video .texto-video>.btn{
    display: block;
    text-align: center;
    z-index: 5;
}

.plantilla_video .texto-video .texto{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-size: 1em;
}

.plantilla_video .texto-video .texto h1,
.plantilla_video .texto-video .texto h2,
.plantilla_video .texto-video .texto h3{
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
}


.plantilla_video audio{
    margin-top: 4em;
    width: 100%;
}