.container{
    margin-top: 5px;
}
/****************** INICIO ******************/
.panel{
    margin-bottom: 5px;
    box-shadow: 2px 2px 10px -1px #ccc;
}
.panel .panel-heading{
    position: relative;
}
.panel .panel-heading .panel-titulo{
    margin: 0;
}
.panel .panel-heading a.ver-todo{
    background: rgba(255,255,255,0.2);
    color: white;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.panel .panel-heading a.ver-todo:hover{
    background: rgba(255,255,255,0.4);
}
.panel .panel-heading .ver-todo>i{
    padding: 0 12px;
    top: 25%;
}
#pnl-cursos .slider-cursos .item-curso{
    padding-left: 10px;
    padding-right: 10px;
}
#pnl-cursos .slider-cursos .item-curso img.caratula{
    border: 3px solid #1ABC9C;
    border-radius: 50%;
    height: 144px;
}
#pnl-cursos .slider-cursos .item-curso .nombre{
    font-size: 1.4em;
    font-weight: bolder;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#pnl-agenda .panel-body{
    padding: 0;
    overflow: auto;
    height: 201px;
}
#pnl-agenda .panel-body .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F4F1F0;
}
#pnl-logros{
    margin-top: 10px;
}

/****************** CURSO ******************/
#menu-curso .btn{
    border: 0;
    border-radius: 0;
    border-style: solid;
    border-width: 7px 0px;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
#menu-curso .btn.btn-red{ border-color: #E74C3C; }
#menu-curso .btn.btn-turquoise{ border-color: #1ABC9C; }
#menu-curso .btn.btn-brown-dark{ border-color: #75706B; }
#menu-curso .btn.btn-blue{ border-color: #2f81d4; }
#menu-curso .btn.btn-yellow{ border-color: #F1C40F; }
#menu-curso .btn.btn-aqua{ border-color: #3498DB; }
#menu-curso .btn.btn-purple{ border-color: #9B59B6; }

#menu-curso .btn.btn-red.activo{ border-bottom-color: #F6C0BB; }
#menu-curso .btn.btn-turquoise.activo{ border-bottom-color: #79EBD3; }
#menu-curso .btn.btn-brown-dark.activo{ border-bottom-color: #BAB7B4; }
#menu-curso .btn.btn-blue.activo{ border-bottom-color: #A7CAEB; }
#menu-curso .btn.btn-yellow.activo{ border-bottom-color: #F8E39A; }
#menu-curso .btn.btn-aqua.activo{ border-bottom-color: #ADD6EF; }
#menu-curso .btn.btn-purple.activo{ border-bottom-color: #D7BFE2; }

#curso-inicio .caratula{
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    position: relative;
    height: 200px;
    width: 200px;
}
#curso-inicio .ultima_actividad>*{
    display: inline-block;
    margin-right: 15px;
    position: relative;
}
#curso-inicio .ultima_actividad>*:before{
    content: "\f111";
    color: #E74C3C;
    font: normal normal normal 10px/1 FontAwesome;
    position: absolute;
    top: 30%;
    left: -15px;
}
#curso-inicio .ultima_actividad>*:first-child:before{
    content: none;
}

/****************** CURSO/INFORMACION ******************/
#curso-info .panel .panel-body{
    overflow: auto;
    height: 300px;
}
#curso-info .foto_docente{
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    max-height: 100px;
}
#curso-info .titulo{
    border-radius: 5em;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 7px;
    padding-top: 7px;
}
#curso-info .informacion{
    padding: 0;
}
#curso-info .informacion>*{
    margin-bottom: 10px;
}
#curso-info .informacion .texto_info{
    padding: 0;
}

/****************** CURSO/COMPANIEROS ******************/
#curso-companieros .foto_alumno{
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 130px;
    margin-bottom: 10px;
    width: 130px;
}
#curso-companieros .informacion{
    padding: 0;
    margin: 0;
}
#curso-companieros .informacion>*{
    margin-bottom: 10px;
    padding: 0;
}
#curso-companieros .informacion .texto_info{
    padding: 0;
    word-break: break-all;
}

/****************** ACADEMICO ******************/
#academico .nav>li>a, #academico .nav>li>a:hover{
    background-color: #F5DA6F;
    color: #fff;
}
#academico .nav>li.active>a{
    background-color: #F39C12;
}
#academico .panel table.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #FDFBF6;
}

#academico .panel .table>tbody>tr>td, #academico .panel .table>tbody>tr>th, 
#academico .panel .table>tfoot>tr>td, #academico .panel .table>tfoot>tr>th, 
#academico .panel .table>thead>tr>td, #academico .panel .table>thead>tr>th{
    border-top-color: #F1C40F;
}
/****************** MEDIA QUERYS RESOPNSIVE ******************/
@media (min-width:768px) and (max-width: 879.99px){
    
}

@media (min-width: 385px) and (max-width: 767.99px){
    #menu-curso .btn{
        width: 13.36%;
    }
    #menu-curso .btn>i.fa{
        font-size: 1.5em;
    }
}

@media (max-width: 384.99px) {
    #menu-curso .btn{
        width: 48%;
    }
    #menu-curso .btn>i.fa{
        font-size: 1.5em;
    }
}

@media (max-height: 700px) and (min-width: 1250px){
    #pnl-logros .panel-body{
        height: 270px;
        overflow: auto;
    }
}