<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<link href="../modbiblioteca/css/estilospag.css" rel="stylesheet" type="text/css" />

<body>
<div class="container nuevo">
  <div class="panel-body">
   <div class="row btn-nuevo">
      <a type="button" class="btn btn-success" href="#/multimedia/agregar" data-dismiss="modal"><i class=" fa fa-plus"></i>Nuevo</a>
   </div>
    <div class="col-md-4" ng-repeat="row in tipo" ng-if="row.id_registro==2">
      <div class="row cabecera">
        <div class="col-md-4 col-sm-2 col-xs-3" id="nombre" style="background:#ccc; text-transform: capitalize;">
    	       <label for="">{{row.nombre}}</label>
        </div>

     </div>
        <img class="img-responsive" src="/angular/app/images/nofoto.jpg" ng-click="selecionarTipo(row.id_tipo)"><br>     
    </div>

  	<div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="hvr-float cont-img" ng-repeat="row in selectEstudio">
           <div class="namelevel text-right i">
                <a href="#/multimedia/editar/{{row.id_estudio}}"><i class="fa fa-pencil-square-o"></i></a>
               <a ng-click="eliminar(row.id_estudio)"> <i class="fa fa-trash"></i></a>
            </div>
            <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" ng-click="verEstudio(row.id_estudio)">

            <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
        </div>							
    </div>
     <button type="button" id="botonAtras" class="btn btn-primary" ng-click="selecionarTipo(0)">Atrás</button>
    </div>
    </div> 
</body>