<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="panel-body">

  	<div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="hvr-float cont-img" ng-repeat="row in tipo" ng-if="row.id_tipo==3" >
            <a href="" data-toggle="modal" data-target="#myModal">
            <div class="namelevel text-right i" style="border-bottom:2px solid #4466bb">
             <i class="fa fa-star-o"></i>
            </div>
            <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}"></a>

            <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
        </div>							
    </div>
    <!-- <button type="button" id="botonAtras" class="btn btn-primary" ng-click="selecionarTipo(0)">Atrás</button>-->
    </div>
    </div> 

        <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>

    <div class="modal-body">
          <audio id="demo" src="../static/libreria/audio/{{row.archivo}}"  controls></audio>
    </div>

    </div>
  </div>
</div> <!-- /#myModal -->
</body>