<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<link href="../modbiblioteca/css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="panel-body">
   <div class="row btn-nuevo">
      <a type="button" class="btn btn-success" href="#/servicios/agregar" data-dismiss="modal"><i class=" fa fa-plus"></i>Nuevo</a>
   </div>
    <div class="col-md-4" ng-repeat="row in tipo" ng-if="row.id_registro==3">
      <div class="row cabecera">
        <div class="col-md-4 col-sm-2 col-xs-3" id="nombre" style="background:#ccc; text-transform: capitalize;">
    	       <label for="">{{row.nombre}}</label>
        </div>

     </div>
        <img class="img-responsive" src="/angular/app/images/nofoto.jpg" ng-click="selecionarTipo(row.idtipo)"><br>     
    </div>

  	<div class="col-md-12" style="    display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="hvr-float" ng-repeat="row in selectEstudios" style="width: 15%; display: inline-block; margin: 0.25ex 0.5ex; border: 1px solid #f00; box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);">
           <div class="namelevel text-right i">
                <a href="#/servicios/editar/{{row.id_estudio}}"><i class="fa fa-pencil-square-o"></i></a>
               <a ng-click="eliminar(row.id_estudio)"><i class="fa fa-trash"></i></a>
            </div>
            <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" ng-click="verEstudio(row.id_estudio)" >

            <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
        </div>							
    </div>
     <button type="button" id="botonAtras" class="btn btn-primary" ng-click="selecionarTipo(0)">Atrás</button>
    </div>
    </div> 
</body>