<link href="./css/estilos-nuevo.css" rel="stylesheet" type="text/css" />
<link href="../frontend/plantillas/tema1/css/inicio1.css" rel="stylesheet" type="text/css" />
<body>
    <div class="container container1" style="background:white">
        <div class="panel-body">
            <div class="panel pnl100">
            <div class="panel-body">
              <div class="panel col-md-12">
            <div class="col-xs-12 col-sm-6 col-md-6" style="padding: 0px;">
                <div class="panel-body" style="padding-bottom: 21px; ">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                           <div class="input-group">
                             <label for="">Título</label>
                            </div>
                            <input type="text" class="form-control gris" id="titulo" name="titulo" placeholder="Escriba el título" value="" ng-model="servicios.nombre"> </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                          <div class="input-group cajaselect">
                              <span class="input-group-addon" >Tipo</span>
                              <select class="conestilo" name="" id="" ng-options="item.idtipo as item.nombre for item in tipo" ng-model="servicios.idtipo">
                                  <option value="">--Seleccione Tipo--</option>
                              </select></div>
                        </div>     
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                               <div class="input-group">
                                  <span class="input-group-addon">Link</span>
                                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="servicios.link">
                                </div>                            
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                               <div class="input-group">
                                  <span class="input-group-addon">Lugar</span>
                                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="servicios.lugar">
                                </div>                            
                            </div>
                    </div>
                </div>
            </div>
            <div class="panel col-xs-12 col-sm-6 col-md-6" id="imagen" style="padding: 0px;">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div style="text-align: center; max-height: 250px; overflow: hidden;"> 
                        <div class="img-container" style="position: relative;">
                      <input type="file" class="cargarfile" data-tipo="image" data-target="hImgPortada" accept="image/*" style="position: absolute; opacity: 0; height: 150px; cursor: pointer" disabled>
                      <img src="./app/images/nofoto.jpg" class="img-responsive" alt="imgfoto" id="imgPortada" style="height: 150px; display: inline;" disabled>
                      <input type="hidden" name="hImgPortada" id="hImgPortada" value="" disabled>
                    </div>
                      
                    <div class="col-md-12 col-sm-12 col-xs-12" style="display: flex; justify-content: center; margin-top: 1.5rem;">
                    <input type="text" class="form-control gris" name="foto" placeholder="Escriba el nombre de la foto" value="" ng-model="servicios.foto"> 
               
                 <!--<span class="btn btn-default btn-file"> 
                  <i class="fa fa-upload"></i> Seleccionar Documento 
                  <input data-texto="Documento" data-campo="archivo" data-action="https://edutec1.com/ingles/frontend/bib_libro/subir_archivo/?arc=archivo&amp;tipo=doc" type="file" uploader-model="fileArchivo" name="fileArchivo" id="fileArchivo" class="cargarfile" data-tipo="pdf" data-target="hNombreArchivo" accept="*">
                  <input type="hidden" name="hNombreArchivo" id="hNombreArchivo" value="">
                </span>-->
                    </div>
                            </div>
                        <div class="clearfix"></div>
                    </div>
                    
                </div>
            </div>
            </div>
            <hr>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <br>
                   <a type="button" class="btn btn-success" ng-click="guardarServicios()" href="#/servicios" data-dismiss="modal"><i class=" fa fa-save"></i> Guardar</a>
                   <a type="button" class="btn btn-danger" href="#/servicios" data-dismiss="modal"><i class=" fa fa-times"></i> Cancelar</a>
        </div>
            
            
            </div>
</div></div></div>
</body>