<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="panel-body">

    <div class="col-md-12" style="    display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="hvr-float cont-img" ng-repeat="row in servicios" ng-if="row.idtipo==8">
        <a ng-href="{{'https://'+row.link}}" target="_blank">
            <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" ></a>
            <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
        </div>              
    </div>
     
    </div>
    </div> 
</body>